.main-container {
  margin: 0;
  height: 1392px;
  background-image: url("../../../public/main_cracker.png");
  background-position: center;
  background-size: 100% 1392px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
