.container {
  display: flex;
  flex-direction: column;
  padding-left: 20%;
  padding-top: 80px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  font-family: Rubik;
  font-size: 48px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: 1px;
  text-align: left;
  color: #4d4d4d;
  margin-bottom: 20px;
}

.container-text {
  display: flex;
  height: 372px;
  align-items: center;
  background: #e5d3cfcc;
  padding-left: 60px;
}

.text {
  display: flex;
  height: 252px;
  max-width: 65%;
  font-family: Rubik;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  overflow: hidden;
}

.wrapper-logo {
  display: flex;
  justify-content: center;
  margin-top: -20px;
}
