/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 12px 0;
  background: #333333;
  color: #fff;
}

/* HeaderInfoPanel */
.header-details {
  display: flex;
  align-items: center;
  width: 262px;
  justify-content: space-between;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 1px;
  text-align: left;
}
