/* StyledFooter */
.footer {
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 1px;
  text-align: left;
  background-image: url("../../../public/footer-cracker.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 788px;
  display: flex;
  flex-wrap: wrap;
  height: 788px;
  align-items: start;
  justify-content: space-evenly;
  padding: 110px 0;
  color: #fff;
  gap: 10px;
}

/* StyledTitle */
.footer-title {
  display: flex;
  gap: 10px;
  padding: 10px 0px;
}

/* StyledText */
.footer-text {
  padding: 0 30px;
}

/* StyledLink */
.footer-link {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
